**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfplan
*.plan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

.aws/

*.pem
*.ppk
*.key

.env
.env.*

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

*.log